* {
	padding: 0;
	margin: 0;

	user-select: none;
	-webkit-user-select: none;
}

panel {
	width: 150px;
	height: 150px;

	display: block;
	background: #888;
}

content {
	width: 100px;
	height: 100px;

	display: block;
	background: #4cff00;
}